<div *ngIf="films.length > 0">
    <h2 class="text-center my-4">Catálogo de Películas</h2>
    <div class="row">
        <div *ngFor="let film of films" class="col-12 col-md-6 col-lg-4 mb-4">
            <!-- Caja de película -->
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="card-title">{{ film.titulo }}</h4>

                    <!-- Imagen aleatoria entre título y descripción -->
                    <div class="text-center my-3">
                        <img [src]="'https://picsum.photos/200'" alt="Imagen aleatoria"
                            class="img-fluid rounded shadow-sm">
                    </div>

                    <!-- Descripción de la película -->
                    <p class="card-text mt-3">{{ film.descripcion }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="films.length === 0">
    <p class="text-center">No hay películas disponibles.</p>
</div>